version: "3"

services:
  test:
    image: hexpm/elixir:1.14.4-erlang-25.3.2-alpine-3.16.5
    command: sh -c "cd app/ && apk add git && mix local.hex --force && mix local.rebar --force && mix deps.get && mix test --warnings-as-errors"
    environment:
      - MIX_ENV=integration_test
    volumes:
      - .:/app
    depends_on:
      - jellyfish

  jellyfish:
    extends:
      file: docker-compose-dev.yaml
      service: jellyfish
